<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="https://fluidtypo3.org/schemas/fluid-6.2.0.xsd">

<head>
	<title>Partials: MyPartial</title>
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ot_website/Resources/Public/Bootstrap3/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ot_website/Resources/Public/Css/Styles.css">
</head>
<body>

<f:section name="Main">

<f:cObject typoscriptObjectPath="lib.subNavigation"/>

</f:section>
</body>
</html>
