<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="https://fluidtypo3.org/schemas/fluid-6.2.0.xsd">

<head>
	<title>Partials: MyPartial</title>
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ot_website/Resources/Public/Bootstrap3/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ot_website/Resources/Public/Css/Styles.css">
</head>
<body>

<f:layout name="DefaultLayout"/>

<f:section name="Content">
	<div class="container">

		<div class="row">

			<div class="col-xs-12">
				{content_0 -> f:format.raw()}
			</div>
		</div>
		<!--/row-->
	</div>
	<!--/.container-->

</f:section>
</body>
</html>
